@import '_reset';
@import '_general';

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10%;
}

.header {
    height: 10%;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.aside {
    width: 20%;
}

.center {
    padding: 20px;
    text-align: start;

    // .main__block
    &__block {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    // .main__title
    &__title {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    // .main__text
    &__text {
        max-width: 70%;
        text-align: start;
        text-indent: 30px;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &--strike {
            text-decoration: line-through;
        }
    }

    // .main__title-h2
    &__title-h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    // .main__list
    &__list {
        margin-bottom: 15px;
    }

    &__back {
        margin: 0 auto;
    }
}

.list {
    display: inline-block;

    // .list__item
    &__item {
        text-align: start;
    }
}

.footer {
    height: 10%;
}